<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ data.title }}</title>
</head>
<body>
    <h3>单一数据示例</h3>
    <table>
        <tr>
            <td>姓名：</td>
            <td>{{ data.user.name }}</td>
        </tr>
        <tr>
            <td>年龄：</td>
            <td>{{ data.user.age }}</td>
        </tr>
        <tr>
            <td>地址：</td>
            <td>{{ data.user.address }}</td>
        </tr>
    </table>

    <h3>列表循环示例</h3>
    <ul>
        {% for user in data.list %}
        <li>{{ user.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>